:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(199, 18, 6, 0.932);
  background-color: hsl(235, 39%, 12%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.main {
  max-width: 800px; 
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.mainbody{
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.6;
  padding: 10px 20px;

}
.component {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 100%;
  justify-content: center;
  flex-direction: column;   /* <── stack items vertically */
  align-items: center;      

}

.component img {
  width: 160px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
.component > .dices {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
}
.component > div {
  display: flex;
  /* flex-direction: column; */
  gap: 8px;
}
.component h2 {
  color: #2B283A;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}
.component h1 {
  color: #2B283A;
  font-size: 2rem;
  margin: 0;
  line-height: 1.2;
}
.component > p{
  font-weight: bold;
  color: rgba(48, 20, 3, 0.6);
  text-decoration: none;
  margin-bottom: 10px;
}
.date{
  color: #2B283A;
  font-weight: bold;
  margin: 0;
}
.component a {
  color: #918E9B;
  font-size: 0.8rem;
  text-decoration: underline;
  width: fit-content;
}
.component p:last-child {
  color: #2B283A;
  line-height: 1.5;
  margin: 0;
}

.factslist{
  margin-top: 45px;
  max-width: 400px;
}
.factslist > li{
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.header{
  height: 90px;
  width: 100%;
  background-color: rgb(0, 62, 104);
  padding: 0px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

.title{
  color: white;
  font-size: 2rem;
}
.navbar > img{
  width: 40px;
  margin-right: 15px;

}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

 body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(243, 255, 253)
}



button {
  color: black;
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1.5em;
  font-weight: bold;
  font-family: inherit;
  background-color: #dad8d2;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 50px;
  width: 50px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);

}
.roll{
  background-color: #93ebc9;
  height: 50px;
  width: 200px;
}
.won { 
  background-color: #6b88e7;
  height: 50px;
  width: 200px;
}
.held {
    background-color: #8dda7a;

}

button:hover {
  border-color: #646cff;
}
/* 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
